{% extends 'main/base.html' %}

{% block title %}ToDo Website{% endblock %}

{% block content %}
    <h3> Criar uma nova lista do "To Do" </h3>
    <br />
    <form method="POST" action="{% url 'createnewlist' %}" class="p-5">
        {% csrf_token %}
        <div class="form-group text-start">
            <label for="name" class="form-label">Nome da lista</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome da lista">
        </div>
        <br />
        <div class="form-group text-start">
            <label for="check" class="form-label"> Marque isso </label>
            <input type="checkbox" class="form-check-input" id="check" name="check">
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
{% endblock %}