<!-- footer -->
<footer class="footer bg-dark text-white position-absolute pt-3 pb-3" style="bottom: 0; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-title">Sobre</h3>
                <p>Texto sobre o site</p>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Contato</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Telefone</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Endereço</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Redes Sociais</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
            <hr class="col-md-12 mt-3 mb-3 border-white">
            <div class="col-md-12">
                <p class="text-center">Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>